## Pandas

Python Data Analysis Toolkit

In [1]:
import numpy as np
import pandas as pd

### Serie

Liste von Werten (Array)

Zusätzlich zum Array hat die Serie einen Namen und einen benannten Index

Unter jeder Serie ist ein Numpy Array

In [3]:
pd.Series([9, 83.7, 8.6, 0.38])

0     9.00
1    83.70
2     8.60
3     0.38
dtype: float64

In [4]:
einwohnerM = pd.Series([9, 83.7, 8.6, 0.38])

In [5]:
einwohnerM.name = "Einwohnerzahlen Europa"

In [6]:
einwohnerM

0     9.00
1    83.70
2     8.60
3     0.38
Name: Einwohnerzahlen Europa, dtype: float64

In [7]:
einwohnerM.index = ["CH", "DE", "AT", "LI"]

In [8]:
einwohnerM

CH     9.00
DE    83.70
AT     8.60
LI     0.38
Name: Einwohnerzahlen Europa, dtype: float64

Hier können jetzt normale Arrayfunktionen verwendet werden

In [9]:
einwohnerM[0]

C:\Users\lk3\AppData\Local\Temp\ipykernel_13096\3060421205.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  einwohnerM[0]

9.0

In [10]:
einwohnerM["AT"]

8.6

In [11]:
einwohnerM["CH":"AT"]

CH     9.0
DE    83.7
AT     8.6
Name: Einwohnerzahlen Europa, dtype: float64

Aufgabe: Alle Länder finden, welche überdurchschnittlich viele Einwohner haben

In [12]:
einwohnerM.mean()

25.419999999999998

In [14]:
einwohnerM > einwohnerM.mean()

CH    False
DE     True
AT    False
LI    False
Name: Einwohnerzahlen Europa, dtype: bool

In [15]:
einwohnerM[einwohnerM > einwohnerM.mean()]

DE    83.7
Name: Einwohnerzahlen Europa, dtype: float64

### DataFrame

Zweidimensionale Sammlung von Serien (= Tabelle)

In [16]:
data = pd.DataFrame({"Col1": [1, 2, 3], "Col2": [4, 5, 6], "Col3": [7, 8, 9]})

In [17]:
data

   Col1  Col2  Col3
0     1     4     7
1     2     5     8
2     3     6     9

#### Externe Daten einlesen

Daten aus beliebigen Quellen einlesen (z.B. Datei, Datenbank, ...)

Dafür gibt es in Pandas eine Sammlung von Methoden, namens read-Methoden

In [ ]:
pd.read_csv("Data/PopulationData.csv")