# Machine Learning

Zusammenhänge in Datensets zu erkennen und einen Algorithmus zu erzeugen, welcher neue Daten automatisch einordnen kann

Um die Zusammenhänge zu Erkennen, wird ein Lernprozess ausgeführt

Dieser Lernprozess benötigt Resourcen (Leistung) und Zeit

Am Ende des Lernprozesses entsteht ein Model, dieses Model ist ein vollständiges Programm (mit Code)

Dem Model können Daten gegeben werden, dieses Model gibt danach neue Daten zurück

---

Beispiel: Wettervorhersage

Per ML anhand von verschiedenen Parametern eine Wettervorhersage machen

Inputs (Parameter): Datum, Zeit, Wolken%, Niederschlag%

Output: Temperatur

Beispiel:
- Datum: 2024-11-22
- Zeit: 11:15
- Wolken%: 100%
- Niederschlag: 0%
Ergebnis: 5°C, 3°C | Realität: 3°C

Bei 4 Parametern wäre es möglich, dieses Modell per Hand zu schreiben

Bei 10+ Parametern ist dies schwieriger

## Datenset

Das Income.csv Datenset enthält Personendaten, welche nach Einkommensklasse bewertet sind

Die class Spalte legt fest, ob die entsprechende über/unter 50.000$/Jahr verdient

Dieses Datenset wird für binäre Klassifizierung verwendet

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Data/Income.csv")

In [3]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## Probleme mit dem Datenset

- Alle Daten numerisch machen -> LabelEncoding
- Daten sind uneben -> Outlier reduzieren
- Daten anhand der Klasse (class) sind unausgeglichen -> Mögliche Neigung in die eine/andere Richtung

### Daten numerisch machen

Für die Konvertierung von Texten zu Zahlen kann der LabelEncoder verwendet werden

In [4]:
from sklearn.preprocessing import LabelEncoder